<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HW Tracker</title>
        <!-- Compiled and minified CSS -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
        />
        <link rel="stylesheet" href="/styles.css" />
    </head>
    <body>
        <form action="/video/<%=vid.todo_id%>" method = "post" class="edit-video">
            <label for="todo">TODO:</label>
            <input
                type="text"
                id="todo"
                name="todo"
                value="<%= hw.todo_description %>"
            />
            <br /><br />
            <label for="date">Date: </label>
            <input type="date" id="date" name="date" value="<%=hw.date%>"/>
            <br /><br />
            <label for="subject">Subject: </label>
            
            <br />
            <label for="notes">Notes:</label>
            <br />
            <textarea name="notes" id="notes" cols="30" rows="50"><%= hw.notes %></textarea>
            <a class="btn grey lighten-2" href="/">Cancel</a>
            <input
                type="submit"
                value="submit"
                class="btn deep-purple lighten-3"
            />
        </form>
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script>
            M.AutoInit();
        </script>
    </body>
</html>